In [1]:
import re

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np
import os
import zipfile
import xlrd
import plotly.express as px
import re

In [33]:
# df = pd.read_csv("https://stepik.org/media/attachments/lesson/362453/avocado_mean.csv",index_col=0, parse_dates=['Date'])

In [35]:
df = pd.read_csv(r'datasets/delays.csv')

In [36]:
df

     client_id  company_id                        delay  revenue
0         2389        4240  -1 days -14:57:48.000000000   705436
1         7614        9544  -4 days -02:14:23.000000000   859266
2         2052        2427  -0 days -06:08:57.000000000   812416
3         9635        8054  -0 days -23:40:19.000000000   162312
4         8154        5503  -1 days -13:21:53.000000000   658844
..         ...         ...                          ...      ...
259       5837        2617  -0 days -05:32:08.000000000   602129
260       2384        2364  -3 days -23:27:14.000000000   910660
261       5146        3331  -1 days -15:22:34.000000000   401137
262       7203        5532  -2 days -17:15:02.000000000   308979
263       3822        9882  -1 days -15:50:29.000000000   877773

[264 rows x 4 columns]

In [37]:
df.dtypes

client_id      int64
company_id     int64
delay         object
revenue        int64
dtype: object

In [39]:
df.delay = df.delay.str.replace('-','')

In [40]:
df

     client_id  company_id                      delay  revenue
0         2389        4240  1 days 14:57:48.000000000   705436
1         7614        9544  4 days 02:14:23.000000000   859266
2         2052        2427  0 days 06:08:57.000000000   812416
3         9635        8054  0 days 23:40:19.000000000   162312
4         8154        5503  1 days 13:21:53.000000000   658844
..         ...         ...                        ...      ...
259       5837        2617  0 days 05:32:08.000000000   602129
260       2384        2364  3 days 23:27:14.000000000   910660
261       5146        3331  1 days 15:22:34.000000000   401137
262       7203        5532  2 days 17:15:02.000000000   308979
263       3822        9882  1 days 15:50:29.000000000   877773

[264 rows x 4 columns]

In [41]:
df.delay = pd.to_timedelta(df.delay)

In [42]:
df

     client_id  company_id           delay  revenue
0         2389        4240 1 days 14:57:48   705436
1         7614        9544 4 days 02:14:23   859266
2         2052        2427 0 days 06:08:57   812416
3         9635        8054 0 days 23:40:19   162312
4         8154        5503 1 days 13:21:53   658844
..         ...         ...             ...      ...
259       5837        2617 0 days 05:32:08   602129
260       2384        2364 3 days 23:27:14   910660
261       5146        3331 1 days 15:22:34   401137
262       7203        5532 2 days 17:15:02   308979
263       3822        9882 1 days 15:50:29   877773

[264 rows x 4 columns]

In [43]:
df.dtypes

client_id               int64
company_id              int64
delay         timedelta64[ns]
revenue                 int64
dtype: object

In [44]:
df['cutting'] = pd.cut(df.delay,3)

In [45]:
df

,client_id,company_id,delay,revenue,cutting
0,2389,4240,1 days 14:57:48,705436,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
1,7614,9544,4 days 02:14:23,859266,"(3 days 08:05:36.333333333, 4 days 23:51:14]"
2,2052,2427,0 days 06:08:57,812416,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
3,9635,8054,0 days 23:40:19,162312,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
4,8154,5503,1 days 13:21:53,658844,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
...,...,...,...,...,...
259,5837,2617,0 days 05:32:08,602129,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
260,2384,2364,3 days 23:27:14,910660,"(3 days 08:05:36.333333333, 4 days 23:51:14]"
261,5146,3331,1 days 15:22:34,401137,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."
262,7203,5532,2 days 17:15:02,308979,"(1 days 16:19:58.666666666, 3 days 08:05:36.33..."
263,3822,9882,1 days 15:50:29,877773,"(0 days 00:27:11.587000, 1 days 16:19:58.66666..."