In [6]:
import pandas as pd

In [25]:
df = pd.read_csv(r"C:\Users\Илья\Downloads\[SW.BAND] [karpov.courses] Аналитик данных. Часть 1 из 5 (2022)\[SW.BAND] 2 МОДУЛЬ PYTHON\[SW.BAND] Ноутбуки и датасеты\2 lesson_2_data.csv", encoding='windows-1251', sep=';')

In [26]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [30]:
df = df.rename(columns = {
    'Номер': 'number', 
     'Дата создания': 'create_data', 
     'Дата оплаты': 'payment_date', 
     'Title': 'title', 
     'Статус': 'status',
     'Заработано': 'money', 
     'Город': 'city', 
     'Платежная система': 'payment_system'
})

In [31]:
df.head()

,number,create_data,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [34]:
all_money = df['money'].sum()

992103.5900000001

In [37]:
df.groupby('title', as_index=False) \
    .aggregate({'money':'sum'}) \
    .sort_values('money', ascending=False)

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54